body {
  font-family: "Lato", sans-serif;
  background: #e6e2d9;
  color: #67869b;
}

.App .container {
  margin: 20px auto;
}

.App header {
  font-family: "Playfair Display", serif;
  font-size: 50px;
  text-align: center;
  margin-bottom: 20px;
}

.App .bookshelf-left img,
.App .bookshelf-right img {
  width: 400px;
  opacity: 0.5;
}

.App .bookshelf-left img {
  transform: scaleX(-1);
}

.App section {
  background: white;
  padding: 15px;
  margin: 20px 0;
}

.App footer {
  margin: 10px 0;
  font-size: 12px;
  text-align: center;
}

.App footer a {
  text-decoration: none;
  color: #67869b;
}

.App footer a:hover {
  text-decoration: underline;
}
