.SearchForm form {
  width: 250px;
  margin: 0 auto 30px auto;
}

.SearchForm input {
  color: #7c99ac;
  background-color: transparent;
  border: 1px solid #67869b;
  border-width: 0 0 1px;
  padding: 7px 0 3px 2px;
  display: inline;
  width: 230px;
}

.SearchForm input:focus {
  outline: none;
}

.SearchForm .bi-search {
  color: #67869b;
  display: inline;
  transition: all 150ms ease-in-out;
}

.SearchForm .bi-search:hover {
  cursor: pointer;
  color: #476279;
}

.typewriter img {
  border-radius: 5px;
  display: block;
  margin: 0 auto;
  width: 100%;
  max-width: 516px;
}

.SearchForm .userTyping {
  font-family: "Special Elite", cursive;
  position: relative;
  font-size: 20px;
  bottom: 310px;
  left: 205px;
}
