.SearchForm {
  width: 250px;
  margin: 0 auto;
  position: relative;
}

.SearchForm input {
  color: #7c99ac;
  background-color: transparent;
  border: 1px solid #67869b;
  border-width: 0 0 1px;
  width: 250px;
  padding: 7px 0 3px 2px;
}

.SearchForm input:focus {
  outline: none;
}

.SearchForm .bi-search {
  color: #67869b;
  position: absolute;
  right: -20px;
  top: 5px;
  transition: all 150ms ease-in-out;
}

.SearchForm .bi-search:hover {
  cursor: pointer;
  color: #476279;
}
